<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Замовлення</title>
  <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
<div class="container">
  <h1>Список Замовлень</h1>
  <a href="/orders/add" class="button">Додати Замовлення</a>
  <table>
    <thead>
    <tr>
      <th>ID</th>
      <th>Клієнт</th>
      <th>Дата Замовлення</th>
      <th>Дії</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="order : ${orders}">
      <td th:text="${order.orderId}"></td>
      <td th:text="${order.client.name + ' ' + order.client.surname}"></td>
      <td th:text="${order.orderDate}"></td>
      <td>
        <a
                th:href="@{/orders/edit/{id}(id=${order.orderId})}"
                class="button edit"
        >Редагувати</a
        >
        <a
                th:href="@{/orders/delete/{id}(id=${order.orderId})}"
                class="button delete"
        >Видалити</a
        >
      </td>
    </tr>
    </tbody>
  </table>
  <a href="/home" class="button back">Повернутися</a>
</div>
</body>
</html>
